:root {
  --color-primary: #ffffff;
  --color-primary-hover: #94f9f0;
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-image {
  width: 160px;
}

.searchbar-container {
  display: flex;
  margin: 20px 10px;
  padding: 0;
  align-items: center;
  flex: 1;
  align-items: stretch;
}

.searchbar {
  padding-right: 20px;
  color: white;
  flex: 1;
}

.searchbar input {
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
}

.searchbar input:focus {
  outline: none;
}

.searchbar-btn button {
  background-color: rgb(175, 255, 255);
  border: none;
  border-radius: 10px;
  height: 100%;
  color: rgb(255, 255, 255);
  padding: 10px 12px;
  margin-left: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 0px 2px 2px rgb(175, 255, 255);
  padding: 10px;
}

.pokedex-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px;
  padding: 0px 10px 20px 10px;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App {
  font-family: sans-serif;
}

.icon {
  width: 28px;
  height: 28px;
}

.pagination-btn {
  background-color: rgb(130, 247, 255);
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.not-found-text {
  text-align: center;
  font-size: 1.25rem;
  padding: 20px;
  color: white;
}

.card-pokemon {
  display: flex;
  box-shadow: 4px 4px 4px 4px rgb(148, 255, 255);
  border-radius: 3px;
  color: white;
}

.card-img {
  padding: 0px 5px;
}

.card-img img {
  width: 70px;
  height: 70px;
}

.card-info {
  padding: 15px;
}

.card-info h3 {
  color: #ffffff;
}

.pokemon-id {
  display: block;
  color: #ffffff;

  margin-bottom: 15px;
}

.card-types {
  display: flex;
  justify-content: center;
}

.card-types span {
  text-transform: capitalize;
  color: #ffffff;
}

.LinkHome {
  text-align: left;
  margin-right: -50%;
}

.main-pokemon {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-top: 100px;
  margin-bottom: 50px;
}

.header-main-pokemon {
  margin-top: 20px;
  color: #ffffff;

  text-align: center;
  align-items: center;

  position: relative;
}

.number-pokemon {
  position: absolute;
  top: -130px;
  color: #ffffff;
  left: 0;
  font-size: 80px;
  font-weight: 700;
  color: var(--color-primary-hover);
}

.evolutions {
  margin-top: 100px;
  display: flex;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  flex-wrap: nowrap;
  flex-direction: column;
}

.card-pokemon-evolution {
  display: flex;
  margin-top: 50px;
  padding: 5px 5px 5px 0;
  font-weight: 300;
  font-size: 20px;
  color: rgb(255, 255, 255);
  justify-content: center;
  flex-direction: row-reverse;
}

.name-pokemon {
  justify-content: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: 300;
}


.evolition-grid{
display: flex;
justify-content: space-around;
}

.txtEvo{
  text-align: center;
}

.txtEstadistic{
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-left: 8px;
}

.container-img-pokemon {
  order: 2;
  flex: 1;
  padding: 5px 5px 5px 0;
  height: 200px;
}

.container-img-pokemon img {
  height: 100%;
  width: 100%;
}

.container-info-pokemon {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container-info-pokemon h1 {
  text-align: right;
  font-size: 60px;
  color: #ffffff;
}

.info-pokemon {
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 25px;
}

.group-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ffffff;
}

.group-info p {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}

/* Stats */
.container-stats {
  display: flex;
  gap: 50px;
  align-items: center;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.stat-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.stat-group span {
  flex: 20%;
  font-weight: 500;
  font-size: 18px;
}

.progress-bar {
  width: 100%;
  height: 30px;
  background-color: var(--color-primary);
  border-radius: 10px;
}

@media screen and (max-width: 992px) {
  .pokedex-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .pokedex-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
